<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Calculator</title>
    <link rel="stylesheet" href="stylesheets/calculator.css"/>
    <script src="calculator.js" defer></script>
</head>
<body>
    <div style="padding: 10px;background-color:black">

    </div>
    <div class="mainpage">
        <h1> Grade Calculator</h1>
        <form id="form1">
            <b style="color: darkred">
                Activities
            </b>
            <p>Give grades to the numeric activities:</p>
            <table>
                <tr style="background-color: lightgrey">
                    <th>Name</th>
                    <th style="width:70px;">Short Name</th>
                    <th>Weight</th>
                    <th>Grade</th>
                    <th>Percent</th>
                </tr>
                <tr>
                    <th>Activity 1</th>
                    <th>A1</th>
                    <th>
                        <input type="text"
                               id="A1weight"
                               name="A1w"
							   value = ""/>
                    </th>
                    <th>
                        <input type="text"
							   name = "grades"
                               value = "" />
                        /
                        <br />
                        <input type="text"
							   name = "grades"
                               value = "" />
                    </th>
                    <th id="percent1"> </th>
                </tr>
                <tr>
                    <th>Activity 2</th>
                    <th>A2</th>
                    <th>
                        <input type="text"
							   name = "A2w"
                               id="A2weight"
                               value = "" />
                    </th>
                    <th>
                        <input type="text"
							   name = "grades"
                               
                               value = "" />
                        /
                        <br />
                        <input type="text"
							   name = "grades"
                               
                               value = "" />
                    </th>
                    <th id="percent2">      </th>
                </tr>
                <tr>
                    <th>Activity 3</th>
                    <th>A3</th>
                    <th>
                        <input type= "text"
							   name = "A3w"
                               id= "A3weight"
                               value = "" />
                    </th>
                    <th>
                        <input type="text"
							   name = "grades"
                               
                               value = "" />
                        /
                        <br />
                        <input type="text"
							   name = "grades"
                              
                               value = "" />
                    </th>
                    <th id="percent3"></th>
                </tr>
                <tr>
                    <th>Activity 4 </th>
                    <th>A4</th>
                    <th>
                        <input type="text"
							   name = "A4w"
                               id= "A4weight"
                               value = ""/>
                    </th>
                    <th>
                        <input type="text"
							   name = "grades"
                               value = "" />
                        /
                        <br />
                        <input type="text"
							   name = "grades"
                               value = "" />
                    </th>
                    <th id="percent4"></th>
                </tr>

            </table>
            <b style="color: darkred; margin-top:10px; margin-bottom:15px;">
                Result
            </b>
			<div id= "result" style="margin-top:10px; padding-left:10px;">
			
			</div>
            <br>
            <div class="buttons">
                <button type = "button" id="weightbutton">
                    WEIGHTED
                </button>
                <button type = "button" id= "meanbutton">
                    MEAN
                </button>
            </div>

        </form>

		<div>
		<button type= "button" class="picbutton" id="picbutton"> How well was my result? </button>
		<br>
		<img id = "resimage" src="public/images/yay" alt="Picture showing how good your grades are">
		</div>
    </div>
    <div style="padding: 10px;padding-bottom: 20px;background-color:black">

    </div>
</body>
</html>